<div class="row justify-content-center">
  <div class="br-card col-sm-6 col-md-4 col-lg-4 my-1 pb-2 rounded">
    <h2 class= "text-center">Editar dados de <%= resource.name %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <%= f.input :name,
                    label: "Nome",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" } %>
        <%= f.input :document_number,
                    label: "CPF/CNPJ",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "document-number" } %>
        <%= f.input :address,
                    label: "Endereço",
                    required: true,
                    autofocus: true,
                     input_html: { autocomplete: "address" } %>
        <%= f.input :phone_number,
                    label: "Telefone",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "phone-number" } %>
        <%= f.input :city_id, prompt: 'Selecione o seu município',
                    label: 'Município',
                    collection: City.all.sort_by { |city| city[:name]},
                    input_html:  { class: "select2" }%>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "Deixe em branco se você não quer mudara sua senha",
                    required: false,
                    input_html: { autocomplete: "Nova senha" },
                    label: "Senha"%>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "Nova senha" },
                    label: "Confirmação da senha"%>
        <%= f.input :current_password,
                    hint: "Você precisa inserir a sua senha atual para confirmar as mudanças",
                    required: true,
                    input_html: { autocomplete: "Senha atual" },
                    label: "Senha atual" %>
        <%= f.input :photo,
                    as: :file,
                    label: "Foto do usuário" %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Atualizar", class: "br-button primary mb-1"  %>
    <% end %>

        <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza que quer cancelar sua conta?" }, method: :delete, class: "br-button primary mb-1" %>

        <%= link_to "Voltar", :back, class: "br-button primary" %>
      </div>
  </div>
</div>
