<div class="row justify-content-center">
  <div class="br-card col-sm-6 col-md-4 col-lg-4 my-1 pb-2 rounded">
    <h2 class= "text-center">Editar dados <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        
        <%= f.input :name,
                    label: "Nome",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" } %>
        <%= f.input :document_number,
                    label: "CPF/CNPJ",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "document-number" } %>
        <%= f.input :address,
                    label: "Endereço",
                    required: true,
                    autofocus: true,
                     input_html: { autocomplete: "address" } %>
        <%= f.input :phone_number,
                    label: "Telefone",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "phone-number" } %>
        <%= f.input :city_id, prompt: 'Selecione o seu município', 
                    label: 'Município', collection: City.all %>  
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "br-button primary"  %>
      </div>
    <% end %>

    <h3>Cancelar </h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>