<div class="row justify-content-center">
  <div class="br-card col-sm-6 col-md-4 col-lg-4 my-1 pb-2 rounded">
    <h2 class= "text-center">Cadastre-se</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :name,
                    label: "Nome",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" } %>
        <%= f.input :document_number,
                    label: "CPF/CNPJ",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "document-number" } %>
        <%= f.input :address,
                    label: "Endereço",
                    required: true,
                    autofocus: true,
                     input_html: { autocomplete: "address" } %>
        <%= f.input :phone_number,
                    label: "Telefone",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "phone-number" } %>
        
        <%= f.input :city_id, prompt: 'Selecione o seu município', 
                    label: 'Município', 
                    collection: State.all.sort_by {|state| state[:name]}, as: :grouped_select, group_method: :cities,
                    input_html:  { class: "select2" }%>
        <%= f.input :password,
                    label: "Senha",
                    required: true,
                    hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirme a senha",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Cadastre-se", class: "br-button primary" %>
      </div>
    <% end %>
      <br>
      <%= render "devise/shared/links" %>
  </div>
</div>
