<% if @search.pesquisa.empty? %>
<div class="mx-4 row justify-content-center">     
  <div class="m-4 p-4 br-card col-lg-4">
    <h5>Nenhuma área encontrada com os parâmetros da busca</h5>
    
      <p> <strong>O resultado precisava incluir obrigatoriamente: </strong>
      <br><br>
      <% if @search.keywords.present? %>
        <%=@search.keywords%>
        <br>
      <%end%>
      <% if @search.min_extension.present? %>
        Área com no mínimo de <%=@search.min_extension%> hectares
        <br><hr>
      <%end%>
      <% if @search.max_extension.present? %>
        Área com no máximo de <%=@search.max_extension%> hectares
        <br><hr>
      <%end%>

      <%@search.states_id.reject!(&:empty?) %>
      <%if @search.states_id.present? %>
        <%= @search.plural(@search.states_id.count, "estado") %>
        <br>
        <% @search.states_id.each_with_index do |state_id, index| %>
          <%="#{index+1} - #{State.find(state_id).name}"%>
          <br>
        <%end%><hr>
      <%end%>

      <% @search.cities_id.reject!(&:empty?) %>
      <% if @search.cities_id.present? %>
        <%=@search.plural(@search.cities_id.count, "município") %>
        <br>
        <% @search.cities_id.each_with_index do |city_id, index| %>
          <%= "#{index+1} - #{City.find(city_id).name}"%>
          <br>
          <%end%><hr>
        <%end%>

      <% @search.basins_id.reject!(&:empty?) %>
      <% if @search.basins_id.present? %>
        <%=@search.plural(@search.basins_id.count, "Bacia Hidrográfica") %>
        <br>
        <% @search.basins_id.each_with_index do |basin_id, index| %>
          <%= "#{index+1} - #{Basin.find(basin_id).name}"%>
          <br>
        <%end%><hr>
      <%end%>
  <p> <%= link_to 'Voltar para áreas disponíveis', areas_path, class: "br-button primary" %> </p>
  </div>
</div>

  <% else %>
  <div class="content-areas">
    <div class="cards-areas">
      <%@search.pesquisa.each do |area|%>
          <div class="card-areas">
            <% if !area.photos.attached? %>
              <%= image_tag area.basin.name+".jpg"%>
            <% else %>
              <%= cl_image_tag area.photos[0].key, crop: :fill %>
            <% end %>
              <div class="card-areas-infos">
                <p class="alignright"><%= image_tag "areas/brazil-icon.png", alt: "Mapa do Brasil", width: 25 %> <%= area.city.name %>, <%=area.city.state.name %>
                </p>
                <% if area.description.size > 140 %>
                  <h2 style="margin-top: 5px;"><%= area.description[0..140] %>...</h2>
                <% else %>
                  <h2 style="margin-top: 5px;"><%= area.description %></h2>
                <% end %>
                <hr>
                <div class="code-owner">
                  <p style="margin-bottom: 3px;">Cod. da Área: <%= area.id %> </p>
                  <p>Área de: <%= area.user.name %></p>
                </div>
                <p style="margin: 4px 0px 4px 0px;"><i class="fas fa-water"></i>Bacia: <%= area.basin.name %></p>
                <p><%= image_tag "areas/dimension-icon-sm.png", alt: "Ícone - Tamanho", width: 19 %> Extensão: <%= area.extension %> hectares</p>
                <br>
                <br>
                <%= link_to "Detalhes", area_path(area), class: "br-button primary" %>
              </div>
          </div>
        <% end %>
    </div>  

    <div class="m-4 p-4 br-card col-sm-4 col-lg-3" style="height: min-content">
        <h3><%=@search.pesquisa.count %> resultados para sua pesquisa </h3>
        <h4>Filtros</h4>
        <%if @search.pesquisa.count< Area.all.count%>
        <% end %>
        <br>
        <div>
        <p>
        <% if @search.keywords.present? %>
          <%=@search.keywords%>
        <%else%>
          <label>Palavras-chave</label><br>
          <p>-----------</p>
        <%end%>
          <hr>
        </div>
        <div>
        <% if @search.min_extension.present? %>
          <label>Área com no mínimo de <%=@search.min_extension%> hectares </label>
        <br>
        <%else%>
          <label>Área mínima</label><br>
          <p>-----------</p>
        <%end%>
        <hr>
      </div>
      <div>
      <% if @search.max_extension.present? %>
        Área com no máximo de <%=@search.max_extension%> hectares
        <br>
        <%else%>
          <label>Área máxima</label><br>
          <p>-----------</p>
      <%end%>
        <hr>
      </div>
      <div>
      <%@search.states_id.reject!(&:empty?) %>
      <%if @search.states_id.present? %>
        <%= @search.plural(@search.states_id.count, "estado") %>
        <br>
        <% @search.states_id.each_with_index do |state_id, index| %>
          <%="#{index+1} - #{State.find(state_id).name}"%>
          <br>
        <%end%>
        <%else%>
          <label>Estados</label><br>
          <p>-----------</p>
        <%end%>
        <hr>
      </div>
      <div>
      <% @search.cities_id.reject!(&:empty?) %>
      <% if @search.cities_id.present? %>
        <%=@search.plural(@search.cities_id.count, "município") %>
        <br>
        <% @search.cities_id.each_with_index do |city_id, index| %>
          <%= "#{index+1} - #{City.find(city_id).name}"%>
          <br>
        <%end%>
      <%else%>
        <label>Municípios</label><br>
        <p>-----------</p>
      <%end%>
        <hr>
      </div>
      <div>
      <% @search.basins_id.reject!(&:empty?) %>
      <% if @search.basins_id.present? %>
        <%=@search.plural(@search.basins_id.count, "Bacia Hidrográfica") %>
        <br>
        <% @search.basins_id.each_with_index do |basin_id, index| %>
          <%= "#{index+1} - #{Basin.find(basin_id).name}"%>
          <br>
        <%end%>
        <%else%>
          <label>Bacias hidrográficas</label><br>
          <p>-----------</p>
        <%end%>
        <hr>
      </div>
      </p>
  <%= link_to 'todas áreas disponíveis', areas_path, class: "br-button primary mt-5" %>

    </div>
  <% end %>
  </div>