<div class="br-header" no-search no-functions>
  <div class="container-lg">
    <div class="flex-container">
      <div class="logo">
        <%= link_to root_path do %>
        <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="logo">
        <% end %>
        <div class="sign">Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis</div>
      </div>
      <div class="actions">
        <div class="links">
          <button class="br-button" type="button" circle mini><i class="fas fa-ellipsis-v"></i>
          </button>
          <ul>
            <li class="title">Acesso Rápido</li>
            <li><%= link_to "Áreas Disponíveis", areas_path %></li>
            <li><%= link_to "Criar Área", new_area_path %></li>
            <li><%= link_to "Meu Perfil", meu_perfil_path %></li>
            <li><%= link_to "Sair", destroy_user_session_path, method: "delete"%></li>
          </ul>
        </div>
        <div class="functions">
          <button class="br-button" type="button" circle mini><i class="fas fa-th"></i>
          </button>
          <ul>
            <li class="title">Funcionalidades do Sistema</li>
            <li>
              <button class="br-button" type="button" circle mini> <i class="fas fa-chart-bar"></i><span class="text">Funcionalidade 1</span>
              </button>
            </li>
            <li>
              <button class="br-button" type="button" circle mini> <i class="fas fa-headset"></i><span class="text">Funcionalidade 2</span>
              </button>
            </li>
            <li>
              <button class="br-button" type="button" circle mini><i class="fas fa-comment"></i><span class="text">Funcionalidade 3</span>
              </button>
            </li>
            <li>
              <button class="br-button" type="button" circle mini><i class="fas fa-adjust"></i><span class="text">Funcionalidade 4</span>
              </button>
            </li>
          </ul>
        </div>
        <div class="search-btn">
          <button class="br-button" type="button" circle mini><i class="fas fa-search"></i>
          </button>
        </div>
        <% if user_signed_in? %>
        <div class="avatar d-block">
          <div class="br-badge" success>
            <div class="icon">1</div>
            <div class="content">
              <div class="br-avatar">
                <div class="image"><img src="https://avatars0.githubusercontent.com/u/43585963?v=4" alt="Avatar">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="br-notification" notification>
          <div class="notification-header">
            <div class="user-name"><%= current_user.name %></div>
            <div class="user-email"><%= current_user.email %></div>
          </div>
          <div class="notification-body">
            <div class="br-tabs">
              <nav class="tab-nav">
                <ul>
                  <li class="tab-item">
                    <%= link_to meu_perfil_path do %>
                    <button type="button" data-panel="panel-1"><span class="name">Meu Perfil<i class="fas fa-user-circle"></i></span></button>
                    <% end %>
                  </li>
                  <li class="tab-item is-active">
                    <%= link_to edit_user_registration_path do %>
                    <button type="button" data-panel="panel-2"><span class="name">Editar Meus Dados<i class="fas fa-edit"></i></span></button>
                    <% end %>
                  </li>
                  <li class="tab-item">
                    <%= link_to destroy_user_session_path do %>
                    <button type="button" data-panel="panel-3"><span class="name">Sair<i class="fas fa-sign-out-alt"></i></span></button>
                    <% end %>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <% else %>
        <div class="avatar"></div>
        <div class="login">
          <%= link_to new_user_session_path do %>
          <button class="br-button" type="button" mini><i class="fas fa-user"></i><span class="ml-1">Entrar</span>
          </button>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="menu">
        <!-- <button class="br-button" type="button" circle mini><i class="fas fa-bars"></i>
        </button> -->
        <div class="title">TradeFlora</div>
      </div>
      <div class="search">
        <div class="br-input has-icon">
          <label></label>
          <input class="has-icon" type="text" placeholder="O que você procura?">
          <button class="icon" type="button"><span class="icon"><i class="fas fa-search"></i></span></button>
        </div>
        <button class="br-button search-close" type="button" circle mini><i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script src="../js/dsgov.js"></script>
