<div class="bannerhome" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(assets/homeimages/amazoniabanner_medium_compressed.jpg);">
  <div class="container">
    <h1>TradeFlora</h1>
    <p>Programa de Reflorestamento - Unindo Esforços</p>
    <a href="#SaibaMais"><button class="br-button mt-1" type="button" primary>Saiba Mais</button></a>
    <%= link_to "Áreas Disponíveis", areas_path, class:"br-button primary mt-1" %>
  </div>
</div>

<br>
<br>

  <div class="container">
    <div>
      <div class="row pt-5 m-auto homecard">
        <div class="card-parceiros">
          <%= link_to "http://www.ibama.gov.br/", target: :_blank do %>
            <%= image_tag "homeimages/Logo_IBAMA.svg", alt: "Logo Ibama" %>
          <% end %>
        </div>
        <div class="card-parceiros">
           <%= link_to "http://www.icmbio.gov.br/portal/", target: :_blank do %>
            <%= image_tag "homeimages/Logo-ICMBio.jpg", alt: "Logo ICMBio" %>
          <% end %>
        </div>
        <div class="card-parceiros">
          <%= link_to "http://www.jbrj.gov.br/", target: :_blank do %>
            <%= image_tag "homeimages/Logo-jardimbotrio.png", alt: "Logo Jardim Botânico Rio de Janeiro" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p class="mt-2" style="text-align: center">Órgãos Vinculados</p>

<br>
<br>

<div class="jumbotron jumbotron-fluid gradiente mb-0" id="SaibaMais">
  <div class="container fontwhite">
      <h1 class="display-4">Por Dentro do TradeFlora</h1>
      <p class="lead">O programa TradeFlora surge como uma estratégia para disseminar a formalização de parcerias entre detentores de áreas que precisam ser recuperadas e interessados em encontrar áreas de plantio pelos mais diversos motivos</p>
  </div>

  <div class="container">
    <div>
      <div class="row pt-5 m-auto homecard">

        <div class="col-md-6 col-lg-4 pb-3">
          <div class="card card-custom bg-white border-white border-0">
            <div class="card-custom-img" style="background-image: url(assets/homeimages/c-brasil-map.jpg);"></div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="assets/homeimages/icon-map-2.png" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
              <h4 class="card-title">Mapeando Áreas</h4>
              <p class="card-text">Cadastre sua área e disponibilize-a para reflorestamento em qualquer ponto do território nacional. O <em>TradeFlora</em> permite que você identifique com precisão sua propriedade.</p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit;">
              <!-- <a href="#" class="btn btn-primary">Option</a>
              <a href="#" class="btn btn-outline-primary">Other option</a> -->
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 pb-3">
          <div class="card card-custom bg-white border-white border-0">
            <div class="card-custom-img" style="background-image: url(assets/homeimages/c-deal-unsplash-big.jpg);"></div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="assets/homeimages/icon-search-2.png" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
              <h4 class="card-title">Promovendo o Trade</h4>
              <p class="card-text">Empresas interessadas também podem se cadastrar e procurar por áreas à disposição. <em>TradeFlora</em> promove o encontro entre as partes e agiliza o negócio. </p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit;">
            </div>
          </div>
        </div>

              <div class="col-md-6 col-lg-4 pb-3">
          <div class="card card-custom bg-white border-white border-0">
            <div class="card-custom-img" style="background-image: url(assets/homeimages/c-reforest-sm.jpg);"></div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="assets/homeimages/icon-plant-2.png" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
              <h4 class="card-title">Recuperando a Natureza</h4>
              <p class="card-text">Ao final todos saem ganhando, quem tem a obrigação legal de compensar e quem tem áreas disponíveis para reflorestar.</p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit;">
              <%= link_to "Conheça Áreas já Cadastradas", areas_path, class:"br-button primary mt-1" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

