<!-- Página importada do projeto Beta -->

<div class="container">

  <h2>Meu perfil</h2>
  <br>
  <!-- Nav tabs -->
  <div class="br-tabs">
    <nav class="tab-nav" role="tablist">
      <ul>
        <li class="tab-item">
          <button type="button" data-panel="areas-disponibilizadas"><span class="name">Áreas disponibilizadas</span></button>
          <!--<a class="nav-link active" data-toggle="tab" href="#areas-disponibilizadas">Áreas disponibilizadas</a>-->
        </li>
        <li class="tab-item">
          <button type="button" data-panel="areas-de-interesse"><span class="name">Áreas de interesse</span></button>
          <!--<a class="nav-link" data-toggle="tab" href="#areas-de-interesse">Áreas de interesse</a>-->
        </li>
        <li class="tab-item">
          <button type="button" data-panel="propostas-recebidas"><span class="name">Propostas recebidas</span></button>

          <!--<a class="nav-link" data-toggle="tab" href="#propostas-recebidas">Propostas recebidas</a>-->
        </li>
        <li class="tab-item">
          <button type="button" data-panel="dados-cadastrais"><span class="name">Dados cadastrais</span></button>

          <!--<a class="nav-link" data-toggle="tab" href="#dados-cadastrais">Dados cadastrais</a>-->
        </li>
      </ul>
    </nav>
  <!-- Tab panes -->
    <div class="tab-content">
      <div id="areas-disponibilizadas" class="tab-panel is-active">
      <br>
        <div class="content-areas">
          <div class="cards-areas">
            <%if @user.areas.count > 0%> <!--se tiver areas cadastradas, -->
              <% @user.areas.each do |area| %>
                <div class="card-areas">
                  <% if !area.photos.attached? %>
                    <img src="assets/<%=area.basin.name%>.jpg">
                  <% else %>
                    <%= cl_image_tag area.photos[0].key, crop: :fill %>
                  <% end %>
                  <div class="card-areas-infos">
                    <p class="alignright"><%= image_tag "areas/brazil-icon.png", alt: "Mapa do Brasil", width: 25 %> <%= area.city.name %>, <%=area.city.state.name %>
                    </p>
                    <% if area.description.size > 140 %>
                      <h2 style="margin-top: 5px;"><%= area.description[0..140] %>...</h2>
                    <% else %>
                      <h2 style="margin-top: 5px;"><%= area.description %></h2>
                    <% end %>
                    <hr>
                    <div class="code-owner">
                      <p style="margin-bottom: 3px;">Cod. da Área: <%= area.id %> </p>
                      <p>Área de: <%= area.user.name %></p>
                    </div>
                    <p style="margin: 4px 0px 4px 0px;"><i class="fas fa-water"></i>Bacia: <%= area.basin.name %></p>
                    <p><%= image_tag "areas/dimension-icon-sm.png", alt: "Ícone - Tamanho", width: 19 %> Extensão: <%= area.extension %> hectares</p>
                    <br>
                    <br>
                    <%= link_to "Detalhes", area_path(area), class: "br-button primary" %>
                  </div>
                </div>
            <% end %>
            <% else %>
              <h5> Você ainda não disponibilizou nenhuma área </h5>
              <p><%= link_to "Crie uma área", new_area_path(@area), class: "br-button primary" %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div id="areas-de-interesse" class="tab-panel"><br>
        <%if @user.trades.count > 0%>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-6">
              <table class="table">
                  <thead>
                    <th>No. da Área</th>
                    <th>Descrição da Área</th>
                    <th>Bacia Hidrográfica</th>
                    <th>Detalhes da Proposta</th>
                    <th>Situação da Proposta</th>
                    <th>Proprietário</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                  </thead>
                  <tbody>
                    <% @user.trades.sort_by {|trade| trade.area_id}.each do |trade| %>
                      <% area = trade.area %>
                      <tr>
                        <td><%= area.id %></td>
                        <td><%= area.description %></td>
                        <td><%= area.basin.name %></td>
                        <td><%= trade.details %></td>
                        <td><%= trade.status %></td>
                        <td><%= area.user.name %></td>
                        <td><%= trade.status == "Aceita"? area.user.email : "" %></td>
                        <td><%= trade.status == "Aceita"? area.user.phone_number : "" %></td>
                        <!-- <td style="border-top: none"><%#= link_to "Detalhes", area_path(area), class: "br-button primary" %></td> -->
                        <td style="border-top: none">
                          <%= link_to area_path(area) do %>
                            <i class="fa fa-info-circle"></i><span>Detalhes</span>
                          <% end %>
                          <% unless trade.status == "Aceita" %>
                            <%= link_to area_trade_path(area, trade), method: :delete, data: { confirm: "Deseja retirar a sua proposta?" } do %>
                                <i class="fa fa-times-circle destroy_trade"></i><span>Retirar proposta</span>
                            <% end %>
                          <% end %>
                          <% if trade.status == "Aceita" %>
                            <%= link_to area_trade_reports_path(area,trade) do %>
                              <i class="fa fa-handshake update_area"></i><span> Relatos </span>
                            <% end  %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <%else%>
          <h5> Você ainda não declarou interesse por nenhuma área </h5>
          <%= link_to areas_path do %>
          <button class="br-button mb-3" type="button" primary>Ver Áreas Disponíveis</button>
          <% end %>
        <%end%>
      </div>



      <div id="propostas-recebidas" class="container tab-panel"><br>
      <%if @user.proposals.count > 0 %>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3>Propostas Recebidas</h3>
            <table class="table">
              <thead>
                <th>No. da Área</th>
                <th>Descrição da Área</th>
                <th>Bacia Hidrográfica</th>
                <th>Interessado</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Detalhes da Proposta</th>
                <th>Situação da Proposta</th>
                <th>Ações</th>
              </thead>
              <tbody>
                <% @user.proposals.sort_by {|proposal| proposal.area_id}.each do |proposal| %>
                  <% user = proposal.user %>
                  <% area = proposal.area %>
                  <tr>
                    <td><%= area.id %></td>
                    <td><%= area.description %></td>
                    <td><%= area.basin.name %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone_number %></td>
                    <td><%= proposal.details %></td>
                    <td><%= proposal.status %></td>
                    <td style="border-top: none">
                      <% unless proposal.status == "Recusada" %>
                        <%= link_to area_trade_refuse_path(area, proposal), method: :patch, data: { confirm: "Recusar proposta?" } do %>
                          <i class="fa fa-times-circle destroy_trade"></i><span> Recusar </span>
                        <% end %>
                      <% end %>
                      <% if proposal.status != "Aceita" && area.trades.find_by(status: "Aceita") == nil %>
                        <%= link_to area_trade_aprove_path(area, proposal), method: :patch, data: { confirm: "Aceitar proposta? Atenção: outras popostas para esta área serão automaticamente recusadas." } do %>
                          <i class="fa fa-check-circle update_area"></i><span> Aceitar </span>
                        <% end %>
                      <% end %>
                      <% if proposal.status == "Aceita" %>
                        <%= link_to area_trade_reports_path(area,proposal) do %>
                          <i class="fa fa-handshake update_area"></i><span> Relatos </span>
                        <% end  %>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% else %>
          <h5> Você ainda não recebeu nenhuma proposta </h5>
        <%end%>
      </div>


        <div id="dados-cadastrais" class="tab-panel"><br>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-6">

                <h3><%=@user.name%></h3>
                <hr>
                <ul>
                  <li>E-mail: <%=@user.email %> </li>
                  <li>Telefone: <%= @user.phone_number %></li>
                  <li>Endereço: <%= @user.address %></li>
                  <li>Documento: <%= @user.document_number %></li>
                </ul>
                <hr>
                <%= link_to edit_user_registration_path do %>
                <button class="br-button mb-3" type="button" primary>Editar Dados</button>

                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
