<!--página copiada do beta, falta formatação -->
<div>
  <h2 id="h2-areas">Áreas disponíveis</h2>
</div>

  <div class="content-areas">
    <% if @areas.empty? %>
      <div id="paddingleft16">
        <p>Nenhuma área encontrada com os parâmetros da busca</p>
        <%# end %>
      </div>
    <% else %>
      <div class="cards-areas">
        <% @areas.each do |area| %>
          <div class="card-areas">
            <% if !area.photos.attached? %>
              <img src="assets/<%=area.basin.name%>.jpg">
            <% else %>
              <%= cl_image_tag area.photos[0].key, crop: :fill %>
            <% end %>
              <div class="card-areas-infos">
                <p class="alignright"><%= image_tag "areas/brazil-icon.png", alt: "Mapa do Brasil", width: 25 %> <%= area.city.name %>, <%=area.city.state.name %>
                </p>
                <% if area.description.size > 140 %>
                  <h2 style="margin-top: 5px;"><%= area.description[0..140] %>...</h2>
                <% else %>
                  <h2 style="margin-top: 5px;"><%= area.description %></h2>
                <% end %>
                <hr>
                <div class="code-owner">
                  <p style="margin-bottom: 3px;">Cod. da Área: <%= area.id %> </p>
                  <p>Área de: <%= area.user.name %></p>
                </div>
                <p style="margin: 4px 0px 4px 0px;"><i class="fas fa-water"></i>Bacia: <%= area.basin.name %></p>
                <p><%= image_tag "areas/dimension-icon-sm.png", alt: "Ícone - Tamanho", width: 19 %> Extensão: <%= area.extension %> hectares</p>
                <br>
                <br>
                <%= link_to "Detalhes", area_path(area), class: "br-button primary" %>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <style>
    #check{
      display: none;
    }

    #check:checked ~ #searchbox{
      width: 500px;
    }

    #check:checked ~ #searchbox  #detalhe{
      width: 500px;
      display: block;
      height: 100%;
      opacity: 1;

      
    }


    #icone{
      cursor: pointer;
      padding: 15px;
      position: relative;
      z-index 1;
    }

    #searchbox{
      width: 300px;
      transition: all .2s linear;
    }

    #searchbox #detalhe{
      position: relative;
      width: 300px;
      transition: all .2s linear;
      display: hidden;
      height: 10px;
      opacity: 0;
     
    }

    .form-group{
      display: flex;
      flex-direction: column;
    }



  </style>    
  <input type="checkbox" id="check">
  <label id="icone" for="check"><i class="fa fa-plus" aria-hidden="true"></i></label>


  <div id="searchbox">
    <%= simple_form_for @search, url: area_searches_path do |s| %>
      <div>
        <h4>Pesquisa</h4>
        <%= s.text_field :keywords, placeholder: 'Digite sua busca'%>
        </div>
        <div>
        <i data-toggle="tooltip" data-placement="top" title="Clique em + para adicionar parâmetros à sua pesquisa">Pressione enter para buscar</i>
      </div>
       <div id="detalhe">
        <%= s.input :states_id, label: "Estado",collection: @states.sort_by { |state| state[:name]}, input_html:  { class: "selectmult teste", multiple: true } %>
       </div>
       <div id="detalhe">
        <%= s.input :cities_id, label: "Município", collection: State.all.sort_by {|state| state[:name]}, as: :grouped_select, group_method: :cities, input_html:  { class: "selectmult", multiple: true } %>
       </div>
       <div id="detalhe">
        <%= s.input :basins_id, label: "Bacia Hidrográfica", collection: @basins, input_html:  { class: "selectmult", multiple: true } %>
       </div>
       <div id="detalhe">
         <p><%= s.label "Extensão Mín (hectares)" %></p>
         <p><%= s.text_field :min_extension, size: 7 %></p>
         <p><%= s.label "Extensão Máx (hectares)" %></p>
         <p><%= s.text_field :max_extension, size: 7 %></p>
       </div>
       <br>
       <div id="detalhe">
         <%= s.submit "Procurar", class: "br-button primary"%>
         <hr>
       </div>
    <% end %>
    <p><%= link_to "Ver no Mapa", maps_path, class: "br-button primary" %></p>
  </div>
</div>

<!-- Abaixo o link para a paginação, da gem Pagy - para mais informações, ver o gemfile -->
<div class="d-flex justify-content-center">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>
