<!--página copiada do beta, falta formatação -->
<div class="m-3 px-3">
  <h1>Áreas cadastradas</h1>
</div>
<div class="contentareas px-3">
  <% if @areas.empty? %>
    <div id="paddingleft16">
      <p>Nenhuma área encontrada com os parâmetros da busca</p>
    </div>
  <% else %>
    <div class="row col-md-8 col-lg-9">
        <% @areas.each do |area| %>
          <div class="br-card card-trip col-md-5 col-lg-4">
            <img src="assets/<%=area.basin.name%>.jpg">
            <div class="card-trip-infos">
              <div class="mb-5 pb-2">
                <p class="alignright">Bacia: <%= area.basin.name %></p>
                <h2><%= area.description %></h2>
                <p>Área de: <%= area.user.name %></p>
                <p><i class="fas fa-globe-americas"></i> Coordenadas:</p>
                <ul>
                  <li>
                    Latitude: <%= area.latitude.round(6) %>
                  </li>
                  <li>
                    Longitude: <%= area.longitude.round(6) %>
                  </li>
                </ul>
                <%= link_to "Detalhes", area_path(area), class: "br-button primary" %>

              </div>
            </div>
          </div>
        <% end %>
    <% end %>
    </div>

    <div id="searchbox" class="col-lg-3">
      <h4>Pesquisa</h4>
      <%= simple_form_for @search, url: area_searches_path do |s| %>
        <div class="field">
          <%= s.text_field :keywords %>
        </div>
        <div class="field">
          <%= s.input :state_id,  prompt: 'Selecione o Estado', label: "Estado", collection: @states, input_html:  { class: "select2" }, include_blank: true %>
        </div>
        <div class="field">
          <%= s.input :city_id, prompt: 'Selecione os municípios', label: 'Município', collection: @cities, input_html:  { class: "select2" }, include_blank: true %>
        </div>     
        <div class="field">
          <%= s.input :basin_id, label: "Bacia hidrográfica", prompt: 'Selecione as bacias hidrográficas', collection: @basins, input_html:  { class: "select2" }, include_blank: true %>
        </div>     
        <div class="field">
          <p><%= s.label "Extensão mínima (hectares)"%> - <%= s.text_field :min_extension, size: 10 %></p>
          <p><%= s.label "Extensão máxima (hectares)"%> - <%= s.text_field :max_extension, size: 10 %></p>
        </div>          
          <br>
        <div><%= s.submit "Procurar", class: "br-button primary"%>
        </div>
      <% end %>
      <hr>
      <%if user_signed_in?%>
        <p><%= link_to "Crie uma área", new_area_path(@area), class: "br-button primary" %></p>
        <hr>
      <%end%>
      <!-- <p><%#= link_to "Ver no Mapa", class: "br-button primary" %></p> -->
    </div>
</div>

