<!--página copiada do beta, falta formatação -->
<div class="ml-3">
  <h1>Áreas cadastradas</h1>
</div>
<div class="content">
  <% if @areas.empty? %>
    <div id="paddingleft16">
      <p>Nenhuma área encontrada com os parâmetros da busca</p>
    </div>
  <% else %>
    <div class="cards">
        <% @areas.each do |area| %>
          <div class="card-trip">
            <img src="assets/<%=area.basin.name%>.jpg">
            <div class="card-trip-infos">
              <div>
                <p class="alignright">Bacia: <%= area.basin.name %></p>
                <h2><%= area.description %></h2>
                <p>Área de: <%= area.user.name %></p>
                <p><i class="fas fa-globe-americas"></i> Coordenadas:</p>
                <ul>
                  <li>
                    Latitude: <%= area.latitude.round(6) %>
                  </li>
                  <li>
                    Longitude: <%= area.longitude.round(6) %>
                  </li>
                </ul>
                <p><%= link_to "Detalhes", area_path(area), class: "btn btn-success button-light-shadow" %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
    </div>
    <div id="searchbox">
      <h4>Painel</h4>
      <%= form_tag areas_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Buscar"
        %>
        <%= submit_tag "Procurar", class: "btn btn-success button-light-shadow mt-2" %>
      <% end %>
      <hr>
      <%if user_signed_in?%>
        <p><%= link_to "Crie uma área", new_area_path(@area), class: "btn btn-success button-light-shadow" %></p>
        <hr>
      <%end%>
      <p><%= link_to "Ver no Mapa", class: "btn btn-success button-light-shadow" %></p>
    </div>
</div>
