<p id="notice"><%= notice %></p>
<div class="container">


  <h1>Realizar Trade</h1>
  <%= simple_form_for([@area, @trade], url: area_trades_path(@area)) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :area_id, value: @area.id %>
    <%= f.hidden_field :status, value: "Proposta" %>
    <%= f.input :details, label: "Indique seu interesse", placeholder: 'Detalhe seu interesse aqui'%>
    <%= f.button :submit, "Registrar", class: "br-button primary" %>

  <% end %>

  <hr>
      <p> <%= link_to 'Ver todas as áreas', areas_path, class: "br-button primary" %> </p>
      <p> <%= link_to 'Voltar ao início', root_path, class: "br-button primary"%> </p>
</div>
